.about-us {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.about-us-content {
  width: 51%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightGreyColor;

  img:first-of-type {
    margin-top: 1.7rem;
    margin-bottom: 3.2rem;
  }

  p {
    font-size: 2.2rem;
    line-height: 4rem;
    color: $darkGreyColor;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
      padding-top: 2rem;
    }
  }
}

.about-us-picture {
  width: 52%;
  height: auto;
  background-image: url(../../assets/People.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}