$textMenuButtonColor: #737373;
$borderButtonColor: #FAD648;
$darkGreyColor: #3C3C3C;
$dirtyGreenColor: #5E5322;
$lightGreyColor: #F0F1F1;
$greyColor: #707070;
$placeholderColor: #3C3C3C26;
$formBorderColor: #b4b4b4;