@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "settings/reset";
@import "settings/colors";
@import "settings/fonts";
@import "components/header";
@import "components/three-columns";
@import "components/simple-steps";
@import "components/about-us";
@import "components/who-we-help";
@import "components/contact";

* {
  max-width: 1900px;
  box-sizing: border-box;
}

html {
  font-family: $font-base;
  font-weight: 400;
  font-size: 55%;
}